html, body{
    background: linear-gradient(180deg, #58126A 0%, #F6B2E1 100%);
    font-family: "Montserrat", sans-serif;
    text-align: center;
    color: white;
}

.navbar{
    height: 75px;
    background-color: #1f1d1b;
}

.btn{
    font-weight: 400;
    font-size: 20px;
    width: 100%;
    height: 100%;
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover{
    background-color: white;
    color: #1f1d1b;
}

.logo{
    height: 35px;
}

.info{
    padding-left: 125px;
    padding-right: 125px;
}

.product-img{
    width: 500px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.product-img:hover{
    transform: scale(1.2);
}

.description{
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 16px;
    color:#dec7de;
}

.description p{
    max-width: 650px;
}

.text{
    color: white;
    font-size: 120px;
    font-weight: 400;
    font-style: italic;
}

.features{
    text-align: justify;
    color:#dec7de;
    padding-left: 75px;
    padding-right: 75px;
}

.feature-title{
    font-size: 35px;
    font-style: italic;
    font-weight: 600;
}

.features p{
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.features h3{
    margin-top: 10px;
    font-size: 25px;
    font-weight: 600;
    color: black;
}

.video-container {
    max-width: 100%;

}

video {
    width: 100%;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 16px 24px rgba(0, 0, 0, 0.5);
}

.stats{
    font-size: 45px;
    font-style: normal;
}

.color-selection{
    box-shadow: 0 20px 24px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.color-selection h1{
    font-size: 40px;
    font-weight: 500;
}

.color-selection img{
    max-width: 90%;
    margin-top: 10px;
    margin-bottom: 30px;
    transition: transform 0.3s ease;
}

.color-selection img:hover{
    transform: scale(1.2);
}

.design-section{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #58126A;
}

.design-section img{
    margin-top: 80px;
    max-width: 600px;
}

.title{
    margin-top: 20px;
    font-style: normal;
    font-weight: 200;
    font-size: 140px;
}

.design-description{
    margin-bottom: 50px;
    max-width: 1500px;
}

.design-description img{
    width: 100%;
}

.price{
    margin-top: 30px;
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 24px;
}

.buy-button button{
    text-align: center;
    font-weight: 600;
    font-size: 20px;

    background-color:#ABF8E7;
    color:#58126A;
    border: none;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    /* padding: 10px 20px; */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buy-button button:hover{
    background-color:black;
    color: white;
}

.specs-section{
    background: linear-gradient(123deg, #ABF8E7 6.41%, #8778C7 67.27%);
}
.specs{
    display: flex;
    justify-content: center;
    align-items: center;
}

.specs-header{
    padding-top: 50px;
    text-align: center;
    font-size: 60px;
    font-weight: 400;
    font-style: italic;
    color: #58126A;
}

.specs img{
    padding: 0;
    margin-top: 40px;
    max-width: 900px;
    border-radius: 20px;
    box-shadow: 0 16px 24px rgba(0, 0, 0, 0.5);
    margin-bottom: 50px;
}

@media (max-width: 1200px) {
    .text{
        font-size: 110px; 
    }

    .title{
        font-size: 120px;
    }

    .specs-header{
        font-size: 60px;
    }

    .product p{
        font-size: 20px;
    }

    .features p{
        font-size: 20px;
    }

    .features{
        padding-left: 100px;
        padding-right: 100px;
    }

    .info{
        padding-left: 130px;
        padding-right: 130px;
    }

    .feature-title{
        font-size: 30px;
    }

    .features h3{
        font-size: 22px;
    }

    .stats{
        font-size: 26px;
    }

    .color-selection h1{
        font-size: 32px;
    }
 
}

@media (max-width: 992px) {
    .text{
        font-size: 95px; 
    }

    .title{
        font-size: 100px;
    }

    .specs-header{
        font-size: 50px;
    }

    .product p{
        font-size: 20px;
    }

    .features p{
        font-size: 20px;
    }

    .features{
        padding-left: 80px;
        padding-right: 80px;
    }

    .info{
        padding-left: 90px;
        padding-right: 90px;
    }

    .feature-title{
        font-size: 30px;
    }

    .features h3{
        font-size: 22px;
    }

    .stats{
        font-size: 26px;
    }

    .color-selection h1{
        font-size: 32px;
    }
}

@media (max-width: 768px) {
    .text{
        font-size: 75px; 
    }

    .title{
        font-size: 80px;
    }

    .specs-header{
        font-size: 40px;
    }

    .product p{
        font-size: 16px;
    }

    .features p{
        font-size: 20px;
    }

    .features{
        padding-left: 60px;
        padding-right: 60px;
    }

    .info{
        padding-left: 50px;
        padding-right: 50px;
    }

    .feature-title{
        font-size: 30px;
    }

    .features h3{
        text-align: center;
        font-size: 18px;
    }

    .stats{
        text-align: center;
        font-size: 24px;
    }

    .color-selection h1{
        font-size: 28px;
    }

}

@media (max-width: 576px) {
    .text{
        font-size: 60px;
    }

    .title{
        font-size: 60px;
    }

    .specs-header{
        font-size: 30px;
    }

    .product p, .features p{
        font-size: 12px;
    }

    .features{
        padding-left: 40px;
        padding-right: 40px;
    }

    .info{
        padding-left: 10px;
        padding-right: 10px;
    }

    .feature-title{
        font-size: 20px;
    }

    .features h3{
        text-align: center;
        font-size: 14px;
    }

    .stats{
        text-align: center;
        font-size: 20px;
    }

    .color-selection h1{
        font-size: 24px;
    }
}
