@media(max-width: 992px) {
    .descrip {
        font-size: 1rem !important;
    }
}

@media(max-width: 768px) {
    .title {
        font-size: 5rem;
    }

    .heading {
        font-size: 1.8rem;
    }

    .subheading {
        font-size: 1.1rem;
    }
}

@media(max-width: 576px) {
    .council-picture {
        rotate: 0deg !important;
    }

    .lg-heading.motto {
        font-size: 2.7rem;
    }
}