body{
    margin-top: 62px;
}

.spell-card{
    width: 300px;
    height: 300px;
    border: 7px solid #212B38;
    border-radius: 20px;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: transparent;
}

.spell-card:hover{
    background-color: #212B38;
    color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
}
