@font-face {
    font-family: 'BubblegumBliss';
    src: url('BubblegumBliss.otf') format('opentype');
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: 'Vatona';
    src: url('Vatona-Demo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}