@font-face {
    font-family: 'Hacked';
    src: url('Hacked-KerX.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.lg-title{
    font-size: 8rem;
}

.title{
    font-size: 6rem;
}

.subtitle{
    font-size: 4rem;
}

.lg-heading{
    font-size: 3rem;
}

.heading{
    font-size: 2rem;
}

.subheading{
    font-size: 1.2rem;
}

.body{
    font-size: 1rem;
}
