* {
    font-family: "Montserrat", "Roboto", sans-serif;
}

.const-height {
    height: calc(100vh - 120px);
}

@media(max-width: 1200px) {
    .categories-container {
        height: 10dvh;
    }

    .menu-container {
        height: calc(90dvh - 144px);
    }
}

@media(max-width: 768px) {
    .categories-container {
        height: 10dvh;
    }

    .menu-container {
        height: calc(40dvh);
    }

    .receipt {
        height: calc(50dvh - 168px);
    }
}