.cover, .webdev-image, .appdev-image {
    object-fit: cover;
    max-height: 550px;
    width: 100%;
}

.about-me{
    font-size: 16px;
    background: url(../img/castle.gif);
    background-size: cover;
    background-position: center;
}

.title {
    background: linear-gradient(90deg, #FFAEAD 0%, #FFD7A6 14%, #FDFFB6 28%, #CBFFBF 42%, #9CF6FF 56%, #BDB2FF 70%, #FFC6FF 84%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;   
    text-align: center;
    font-family: "ByteBounce";
    font-size: clamp(4rem, 10vw, 10rem);
    -webkit-text-stroke-width: clamp(2px, 0.5vw, 5px);
    -webkit-text-stroke-color: black;
    margin-top: 0px;
    word-wrap: break-word;
    max-width: 100%;
}

.about-me .col {
    max-width: 100%;
    text-align: center;
}

.info-me{
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
}

.flip-card {
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 300px;
    height: 400px;
    transform-style: preserve-3d;
    transition: transform 0.8s;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-card-back {
    transform: rotateY(180deg);
}

p{
    color: white;
    text-align: justify;
    font-family: 'Edit Undo BRK', sans-serif;
    font-size: clamp(0.7rem, 3vw, 1.7rem);
    font-weight: 400;

}

.projects-panel {
    height: 700px;
    background: url(../img/frieren-journey.gif);
    background-size: cover;
    background-position: bottom;
}

.projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.project-button {
    text-align: center;
    font-family: 'Edit Undo BRK', sans-serif;
    color: #FFFFFF;
    font-size: 2.2rem;
    aspect-ratio: 1 / 1;
    width: 30vw;
    min-width: 150px;
    max-width: 400px;
    border-radius: 50%;
}

.left-button{
    background: url(../img/lbg_button.gif);
    background-size: cover;
}

.right-button{
    background: url(../img/rbg_button.gif);
    background-size: cover;
}

.left-button:hover, .right-button:hover {
    background: #2F4B4C;
    color:#E0DADE
}

.contact{
    height: 300px;
    background: url(../img/sakura\ street.gif);
    background-size: cover;
    background-position: bottom;
    border-radius: 20px;
}

.socmed-card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.socmed-icon {
    width: 100px;
    height: 100px;
    background: linear-gradient(135deg, #FFAEAD 0%, #FFD7A6 14%, #FDFFB6 28%, #CBFFBF 42%, #9CF6FF 56%, #BDB2FF 70%, #FFC6FF 84%);
    border-radius: 10px;
    border: 5px solid #8278DA;
}

i{
    font-size: 3rem;
    color: #222222;
}

@media (max-width: 1200px) {
 
}

@media (max-width: 992px) {
    .project-button{
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    .frieren{
        display: none;
    }

    .project-button{
        font-size: 18px;
    }
}

@media (max-width: 576px) {
    .frieren{
        display: none;
    }

    .project-button{
        font-size: 14px;
    }
}