html, body {
    background: linear-gradient(180deg, #58126A 0%, #F6B2E1 100%);
}

hr{
    margin-top: 50px;
    margin-bottom: 0px;
}
.header {
    position: relative;
    display: flex;
    justify-content: center; /* Centers the logo */
    align-items: center;
    background-color: #1f1d1b;
}

.header img{
    padding: 20px;
    width: 200px;
}

.home-button{
    position: absolute;
    top: 20px;
    left: 20px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 20px;

    background-color: transparent;
    color: white;
    border: none;
    border-radius: 5px;
    /* padding: 10px 20px; */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.home-button:hover{
    background-color: white;
    color: #1f1d1b;
}

.product-name h1{
    margin-top: 30px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 80px;
    color: white;
    overflow: hidden;
}

.product-img{
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-img img{
    margin-top: 10px;
    margin-bottom: 30px;
    width: 500px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.product-img img:hover{
    transform: scale(1.2);
}

.description{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 16px;
}

.description p{
    text-align: center;
    max-width: 650px;
}

.text-01{
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 120px;
    font-weight: 400;
    font-style: italic;
}

.first-feature{
    color:#58126A;
    margin-top: 50px;
    display: flex;
    justify-content: right;
    align-items: center;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.first-feature aside{
    margin-top: 0px;
    margin-right: 60px;
    max-width: 550px;
    font-size: 20px;
    text-align: justify;
}

.first-feature aside h2{
    font-size: 35px;
    font-style: italic;
    font-weight: 600;
}

.first-feature aside h3{
    margin-top: 10px;
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 25px;
    font-weight: 600;
    color: black;
}

.first-feature aside p{
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.first-feature video{
    margin-right: 60px;
    max-height: 450px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 16px 24px rgba(0, 0, 0, 0.5);;
}

.first-feature aside h2.stats{
    font-size: 45px;
    font-style: normal;
}

.second-feature{
    color:#58126A;
    margin-top: 50px;
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.second-feature aside{
    margin-top: 0px;
    margin-left: 60px;
    max-width: 550px;
    font-size: 20px;
    text-align: justify;
}

.second-feature aside h2{
    font-size: 35px;
    font-style: italic;
    font-weight: 600;
}

.second-feature aside p{
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.second-feature video{
    margin-left: 60px;
    max-height: 450px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 16px 24px rgba(0, 0, 0, 0.5);;
}

.color-selection{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.color-selection h1{
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
}

.color-selection img{
    margin-top: 10px;
    margin-bottom: 30px;
    width: 70%;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.color-selection img:hover{
    transform: scale(1.2);
}