body{
    background-color: #DFD7BB;
    font-family: 'Brugenfield', sans-serif;
    text-align: center;
}
.intro-container-fluid .row{
    margin: 0px;
    margin-bottom: 30px;
    max-height: 650px; 
}

.intro-container-fluid .row img {
    padding: 0px;
    max-height: 650px;
    object-fit: cover;
}

.title{
    font-size: 80px;
    font-weight: 400;
    text-shadow: 
        2px 2px 0 rgba(255, 255, 255, 0.7), 
        4px 4px 0 rgba(253, 255, 194, 0.7),
        6px 6px 0 rgba(216, 144, 101, 0.7),
        8px 8px 0 rgba(195, 108, 93, 0.7);
}

.description-row{
    margin: 0px 150px;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Charrington', sans-serif;
    margin-bottom: 30px;
}

.tourist-spots-container{
    margin: 0px 150px;
}

.col-md-6{
    display: flex;
    margin: 10px 0px;
    max-height: 100%;
}
.card{
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
}

.card .btn{
    background-color: #A4BEA0;
    color: white;
    font-weight: 500;
}

.card .btn:hover{
    background-color: black;
    color: #DFD7BB;
}

.card img{
    max-height: 300px;
    object-fit: cover;
}

.last-container{
    margin: 0px 150px;
    text-align: justify;
}
.last-container .row{
    margin-top: 60px;
}
.last-container p{
    font-family: 'Charrington', sans-serif;
    font-size: 20px;
    font-weight: 700;
}


@media (max-width: 1200px) {
    .title {
        font-size: 70px;
    }
    .description-row{
        margin: 0px 100px;
        font-size: 18px;
    }
    .tourist-spots-container{
        margin: 0px 125px;
    }
    .last-container{
        margin: 0px 125px;
    }
    .tourist-spots-container, .last-container{
        margin: 0px 100px;
    }
}

@media (max-width: 992px) {
    .title {
        font-size: 60px;
    }
    .description-row{
        margin: 0px 60px;
        font-size: 16px;
    }
    .tourist-spots-container{
        margin: 0px 100px;
    }
    .last-container{
        margin: 0px 100px;
    }

    .tourist-spots-container, .last-container{
        margin: 0px 50px;
    }
    .last-container p{
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    .title {
        font-size: 50px;
    }
    .description-row{
        margin: 0px 20px;
        font-size: 14px;
    }
    .tourist-spots-container{
        margin: 0px 75px;
    }
    .last-container{
        margin: 0px 75px;
    }
    .tourist-spots-container, .last-container{
        margin: 0px 50px;
    }
    .last-container p{
        font-size: 16px;
    }
}

@media (max-width: 576px) {
    .title {
        font-size: 40px;
        text-shadow: 
        1px 1px 0 rgba(255, 255, 255, 0.7), 
        2px 2px 0 rgba(253, 255, 194, 0.7),
        3px 3px 0 rgba(216, 144, 101, 0.7),
        4px 4px 0 rgba(195, 108, 93, 0.7);
    }
    .description-row{
        margin: 0px 5px;
        font-size: 12px;
    }
    .tourist-spots-container{
        margin: 0px 50px;
    }
    .tourist-spots-container .row{
        margin: 0px 0px;
        margin-bottom: 50px;
    }

    .last-container{
        margin: 0px 50px;
    }

    .tourist-spots-container{
        margin: 0px 10px;
    }

    .last-container{
        margin: 0px 30px;
    }

    .last-container p{
        font-size: 14px;
    }
}