.carousel h1{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.carousel-item{
    transition: transform 0.5s ease, opacity .5s ease-out;
    max-height: 635px;
}

.about{
    margin-top: 30px;
    padding-left: 150px;
    padding-right: 150px;
}


.about-row{
    height: 200px;
    background-color: grey;
    border-radius: 30px;
}

.about p{
    margin-top: 30px;
    text-align: justify;
    font-weight: 300;
                                                
}
/* 
.shows-item img {
    
    object-fit: cover;
    border-radius: 20px;
} */

.expanded-info{
    background-color: #b0c1d8;
    text-align: justify;
    border-radius: 20px;
    height: 400px;
    color: black;
}

.shows-item {
    position: relative;
    width: 400px; /* Specify the width of the container */
    height: 400px; /* Specify the height of the container */
    margin: auto;
}

.shows-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 20px;
    transition: opacity 0.5s ease; /* Adjust the duration of the fade here */
}
.ost{
    text-align: start;
    font-weight: 400;
}

@media (max-width: 1200px) {
    .about h1{
        font-size: 50px;
    }

    .about{
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media (max-width: 992px) {
    .about h1{
        font-size: 50px;
    }

    .about{
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media (max-width: 768px) {
    .about h1{
        font-size: 50px;
    }

    .about{
        padding-left: 25px;
        padding-right: 25px;
    }
}

@media (max-width: 576px) {
    .about h1{
        font-size: 50px;
    }

    .about{
        padding-left: 15px;
        padding-right: 15px;
    }
}












