.navbar {
    background-image: url(../img/navBg.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

.main-logo {
    max-height: 60px;
    object-fit: contain;
}

.main-container {
    background: linear-gradient(310deg, #F9F1F0 15.23%, #FADCD9 33.31%);
}

a {
    text-decoration: none;
}

.title {
    font-family: 'Vatona', sans-serif;
    color: #f79489;
    margin-bottom: 0px;
    padding-top: 20px;
    text-shadow:
        -2px -2px 0 #fff,
        2px -2px 0 #fff,
        -2px 2px 0 #fff,
        2px 2px 0 #fff,
        0 0 4px #fff;
}

.card {
    height: calc(100vh - 116px);
}

.button-link {
    font-family: "Vatona";
    font-size: 1.5rem;
    color: #f79489;
    text-align: start;
    height: 60px;
    border: 0px none;
    background-color: #F9F1F0;
}

.button-link:hover {
    background-color: #FADCD9;
}

.home {
    overflow-y: scroll;
    /* scrollbar-width: thin;
    scrollbar-color: #FADCD9 #F8AFA6; */
}

.home::-webkit-scrollbar {
    width: 10px;
}

.home::-webkit-scrollbar-track {
    background: #FADCD9;
}

.home::-webkit-scrollbar-thumb {
    background: #F79489;
    border-radius: 10px;
}

.home::-webkit-scrollbar-thumb:hover {
    background: #FADCD9;
}

.carousel-img {
    width: 100%;
    max-height: 580px;
    object-fit: cover;
}